# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# macOS system files
.DS_Store

# IDE configurations
.vscode/
.idea/

# Local binary cache
Image_Caption_Generator.h5
features.pickle
tokenizer.pickle
